<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>AJAX</display-name>
  <servlet>
    <servlet-name>Demo01Servlet</servlet-name>
    <servlet-class>com.neuedu.servlet.Demo01Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo01Servlet</servlet-name>
    <url-pattern>/Demo01Servlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>demo01.html</welcome-file>
    <welcome-file>demo01.htm</welcome-file>
    <welcome-file>demo01.jsp</welcome-file>
  </welcome-file-list>
</web-app>